:root {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
:root a[href] {
  cursor: pointer;
}

body {
  background-color: #f4f6fc;
  display: grid;
  justify-content: center;
}

@media only screen and (max-width: 1100px) {
  :root {
    font-size: 8px;
    overflow-x: hidden;
  }
  .cta {
    width: 110rem;
  }
  #testimonials-section {
    width: 110rem;
  }
  .memoji {
    display: none;
  }
  .footer-container {
    max-width: 100vw;
  }
}
@media only screen and (max-width: 720px) {
  body {
    max-width: 100vw;
  }
}
@media only screen and (min-width: 720px) {
  .contact-us {
    color: #292e47;
    font-weight: bold;
    font-size: 60px;
    margin-top: 15rem;
    margin-bottom: 2rem;
    width: 110rem;
  }
  .form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 110rem;
    margin-bottom: 2rem;
  }
  .form .form-row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .form .form-column {
    display: flex;
    justify-content: space-between;
  }
  .form .form-column .form-field-column {
    margin: 0;
    width: 53rem;
  }
  .form .form-label {
    margin-left: 0;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    color: #6b708d;
    line-height: 150%;
    letter-spacing: 0;
    margin-bottom: 1rem;
  }
  .form .form-input {
    padding: 2rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
    color: #6b708d;
    line-height: 150%;
    letter-spacing: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 7rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .form .form-input:focus {
    background-color: #d1edff;
  }
  .form .error-message {
    height: 2rem;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
    color: #6b708d;
    line-height: 150%;
    letter-spacing: 0;
    color: red;
    margin-bottom: 1rem;
  }
  .form #message {
    height: 20rem;
  }
  .form .form-input::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
    color: #6b708d;
    line-height: 150%;
    letter-spacing: 0;
  }
  .form .contact-form-submit {
    box-sizing: border-box;
    transition-duration: 0.2s;
    background-color: #072ac8;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-decoration: none;
    font-size: 1.7rem;
    color: #6b708d;
    line-height: 130%;
    letter-spacing: 0;
    color: white;
    height: 8rem;
    width: 100%;
    margin-bottom: 3rem;
  }
  .form .contact-form-submit:hover {
    color: #292e47;
    background-color: #a2d6f9;
  }
  .form .contact-form-submit:hover {
    color: #072ac8;
  }
  .form-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%;
    top: 50%;
    width: 10rem;
    height: 10rem;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 720px) {
  .contact-us {
    color: #292e47;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    background-color: #d1edff;
    margin: 13rem 0 3rem 0;
  }
  .form {
    margin: auto;
    width: 90rem;
  }
  .form-field-column {
    margin: 1rem;
  }
  #email {
    width: 98%;
  }
}
@media only screen and (max-width: 720px) {
  .contact-us {
    color: #292e47;
    font-weight: bold;
    font-size: 40px;
    background-color: #d1edff;
    text-align: center;
    margin: 10rem 0 1rem 0;
  }
  .form {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    width: 100vw;
  }
  .form .form-label {
    display: flex;
    flex-direction: column;
  }
  .form .form-row,
  .form .form-field-column {
    margin: auto;
    width: 90%;
  }
  .form .form-column {
    display: flex;
    flex-direction: column;
  }
  .form .form-label {
    margin: 0 0 0 1rem;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    color: #6b708d;
    line-height: 150%;
    letter-spacing: 0;
  }
  .form .form-input {
    padding: 2rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
    color: #6b708d;
    line-height: 150%;
    letter-spacing: 0;
    margin: 0 auto 1rem auto;
    box-sizing: border-box;
    width: 100%;
    min-height: 7rem;
  }
  .form .form-input:focus {
    background-color: #d1edff;
  }
  .form .error-message {
    height: 2rem;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
    color: #6b708d;
    line-height: 150%;
    letter-spacing: 0;
    color: red;
    margin-bottom: 1rem;
  }
  .form #message {
    height: 20rem;
  }
  .form .form-input::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
    color: #6b708d;
    line-height: 150%;
    letter-spacing: 0;
  }
  .form .contact-form-submit {
    box-sizing: border-box;
    transition-duration: 0.2s;
    background-color: #072ac8;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-decoration: none;
    font-size: 1.7rem;
    color: #6b708d;
    line-height: 130%;
    letter-spacing: 0;
    font-size: 2rem;
    color: white;
    height: 8rem;
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
  }
  .form .contact-form-submit:hover {
    color: #292e47;
    background-color: #a2d6f9;
  }
  .form .contact-form-submit:hover {
    color: #072ac8;
  }
}

/*# sourceMappingURL=contact.css.map */
