* {
  font-size: 10px;
  margin: auto;
}

body {
  background-color: #f4f6fc;
  max-width: 144rem;
  font-family: "Roboto", sans-serif;
}

/*
=========== HERO SECTION ===========
*/
#hero-section {
  margin-top: 22.2rem;
  margin-right: 0;
  width: 140rem;
  height: 65rem;
}
#hero-section #hero-section-container {
  width: 110rem;
  height: 100%;
  margin-left: 17rem;
  display: flex;
}
#hero-section #hero-section-container #hero-article {
  width: 53rem;
  height: 42.2rem;
  margin: 10.9rem 0 11.9rem 0;
}
#hero-section #hero-section-container #hero-article #hero-article-title {
  color: #292e47;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 3rem;
}
#hero-section #hero-section-container #hero-article #hero-article-paragraph {
  margin: 0;
  width: 43.5rem;
  font-size: 2rem;
  color: #6b708d;
  line-height: 150%;
  letter-spacing: 0;
}
#hero-section #hero-section-container #hero-article #hero-article-contact-links {
  display: flex;
  justify-content: flex-start;
  margin-top: 4rem;
}
#hero-section #hero-section-container #hero-article #hero-article-contact-links #hero-article-button {
  text-decoration: none;
  font-size: 1.7rem;
  color: #6b708d;
  line-height: 130%;
  letter-spacing: 0;
  box-sizing: border-box;
  transition-duration: 0.2s;
  background-color: #072ac8;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 5.2rem;
  margin-right: 4rem;
  margin-left: 0;
}
#hero-section #hero-section-container #hero-article #hero-article-contact-links #hero-article-button:hover {
  color: #072ac8;
}
#hero-section #hero-section-container #hero-article #hero-article-contact-links #hero-article-button:hover {
  color: #292e47;
  background-color: #a2d6f9;
}
#hero-section #hero-section-container #hero-article #hero-article-contact-links #hero-link-works {
  margin: 0;
  align-self: center;
  text-decoration: none;
  font-size: 1.7rem;
  color: #6b708d;
  line-height: 130%;
  letter-spacing: 0;
  font-size: 1.7rem;
  color: #6b708d;
  line-height: 150%;
  letter-spacing: 0;
  line-height: 130%;
}
#hero-section #hero-section-container #hero-article #hero-article-contact-links #hero-link-works:hover {
  color: #072ac8;
}
#hero-section #hero-section-container #hero-section-image {
  width: 57rem;
  height: 65rem;
  margin: 0;
}
#hero-section #hero-section-container #hero-section-image #hero-images {
  height: 100%;
  position: relative;
}
#hero-section #hero-section-container #hero-section-image #hero-images #hero-image {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
}
#hero-section #hero-section-container #hero-section-image #hero-images .image-container-cardOne {
  position: absolute;
  top: 0;
  left: 0;
  width: 19rem;
  height: 216rem;
}
#hero-section #hero-section-container #hero-section-image #hero-images .image-container-cardOne #credit-card-image {
  position: relative;
  object-fit: contain;
  height: auto;
  z-index: 2;
  top: -4.7rem;
  left: -9.4rem;
  width: 198%;
}
#hero-section #hero-section-container #hero-section-image #hero-images .image-container-cardTwo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 19rem;
  height: 19.3rem;
}
#hero-section #hero-section-container #hero-section-image #hero-images .image-container-cardTwo #thumbs-up-image {
  position: relative;
  object-fit: contain;
  height: auto;
  z-index: 2;
  bottom: 4.4rem;
  right: 8.3rem;
  width: 182%;
}

/*
=========== CLIENTS SECTION ===========
*/
#client-section {
  margin-top: 13rem;
  height: 9.6rem;
  width: 110rem;
}
#client-section .client-ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
#client-section .client-ul .client-li {
  display: flex;
  justify-content: center;
  width: 15rem;
}
#client-section .client-ul .client-li .client-link {
  margin-left: 0;
}
#client-section .client-ul .logo {
  filter: grayscale(100%);
}
#client-section .client-ul .logo:hover {
  transition-duration: 0.2s;
  filter: grayscale(0%);
}

/*
========== TESTIMONIALS SECTION ==========
*/
#testimonials-section {
  box-sizing: border-box;
  width: 132rem;
  height: 62.2rem;
  background-color: #292e47;
  margin-top: 20rem;
  padding-top: 6.9rem;
  padding-left: 4.7rem;
}
#testimonials-section #memojis-container {
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  width: 118.5rem;
  height: 49.8rem;
  padding-top: 6.9rem;
  padding-left: 4.7rem;
}
#testimonials-section #memojis-container .memoji {
  z-index: 1;
  width: 15rem;
  height: 15rem;
}
#testimonials-section #memojis-container .memoji-top-left {
  position: absolute;
  top: 0;
  left: 1.3rem;
}
#testimonials-section #memojis-container .memoji-top-right {
  position: absolute;
  top: 0;
  right: 2.1rem;
}
#testimonials-section #memojis-container .memoji-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
#testimonials-section #memojis-container .memoji-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
#testimonials-section #testimonials-text-content {
  box-sizing: border-box;
  z-index: 2;
  width: 110rem;
  height: 38.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#testimonials-section #testimonials-text-content #testimonials-title {
  color: #292e47;
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin: 0;
}
#testimonials-section #testimonials-text-content #testimonials-client-review {
  font-size: 2.4rem;
  color: #ffc600;
  line-height: auto;
  letter-spacing: 0;
  line-height: 160%;
  text-align: center;
  margin-top: 10.4rem;
}
#testimonials-section #testimonials-text-content #testimonials-client-information {
  margin: 10.5rem 0;
  display: flex;
  justify-self: flex-end;
  margin-bottom: 0;
  justify-content: space-between;
  width: 17.1rem;
  height: 5rem;
}
#testimonials-section #testimonials-text-content #testimonials-client-information #testimonial-profile-image {
  width: 5rem;
  border-radius: 50%;
  margin: 0;
}
#testimonials-section #testimonials-text-content #testimonials-client-information #testimonial-name-and-company {
  width: 11.1rem;
  height: 3.7rem;
  margin: 0;
  align-self: center;
}
#testimonials-section #testimonials-text-content #testimonials-client-information #testimonial-name-and-company #testimonial-name {
  font-size: 1.7rem;
  color: #a2d6f9;
  line-height: 150%;
  letter-spacing: 0;
  line-height: 100%;
  margin: 0;
}
#testimonials-section #testimonials-text-content #testimonials-client-information #testimonial-name-and-company #testimonial-company {
  font-size: 1.3rem;
  color: #f4f6fc;
  line-height: 150%;
  letter-spacing: 0;
  text-decoration: none;
  margin: 0;
}

/*# sourceMappingURL=index.css.map */
