:root {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
:root a[href] {
  cursor: pointer;
}

body {
  background-color: #f4f6fc;
  display: grid;
  justify-content: center;
}

@media only screen and (max-width: 1100px) {
  :root {
    font-size: 8px;
    overflow-x: hidden;
  }
  .cta {
    width: 110rem;
  }
  #testimonials-section {
    width: 110rem;
  }
  .memoji {
    display: none;
  }
}
@media only screen and (max-width: 720px) {
  body {
    max-width: 100vw;
    border: 1rem solid rgb(66, 227, 103);
  }
}
/*
=========== HERO SECTION ===========
*/
@media only screen and (min-width: 720px) {
  #hero-section {
    margin: 22.2rem 0 0 0;
    width: 140rem;
    height: 65rem;
  }
  #hero-section #hero-section-container {
    margin: auto;
    width: 110rem;
    height: 100%;
    display: flex;
  }
  #hero-section #hero-section-container #hero-article {
    width: 53rem;
    height: 42.2rem;
    margin: 10.9rem 0 11.9rem 0;
  }
  #hero-section #hero-section-container #hero-article #hero-article-title {
    color: #292e47;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 3rem;
  }
  #hero-section #hero-section-container #hero-article #hero-article-paragraph {
    margin: 0;
    width: 43.5rem;
    font-size: 2rem;
    color: #6b708d;
    line-height: 150%;
    letter-spacing: 0;
  }
  #hero-section #hero-section-container #hero-article #hero-article-contact-links {
    display: flex;
    justify-content: flex-start;
    margin-top: 4rem;
  }
  #hero-section #hero-section-container #hero-article #hero-article-contact-links #hero-article-button {
    text-decoration: none;
    font-size: 1.7rem;
    color: #6b708d;
    line-height: 130%;
    letter-spacing: 0;
    box-sizing: border-box;
    transition-duration: 0.2s;
    background-color: #072ac8;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 15rem;
    height: 5.2rem;
    margin-right: 4rem;
    margin-left: 0;
  }
  #hero-section #hero-section-container #hero-article #hero-article-contact-links #hero-article-button:hover {
    color: #072ac8;
  }
  #hero-section #hero-section-container #hero-article #hero-article-contact-links #hero-article-button:hover {
    color: #292e47;
    background-color: #a2d6f9;
  }
  #hero-section #hero-section-container #hero-article #hero-article-contact-links #hero-link-works {
    margin: 0;
    align-self: center;
    text-decoration: none;
    font-size: 1.7rem;
    color: #6b708d;
    line-height: 130%;
    letter-spacing: 0;
    font-size: 1.7rem;
    color: #6b708d;
    line-height: 150%;
    letter-spacing: 0;
    line-height: 130%;
  }
  #hero-section #hero-section-container #hero-article #hero-article-contact-links #hero-link-works:hover {
    color: #072ac8;
  }
  #hero-section #hero-section-container #hero-section-image {
    width: 57rem;
    height: 65rem;
    margin: 0;
  }
  #hero-section #hero-section-container #hero-section-image #hero-images {
    height: 100%;
    position: relative;
  }
  #hero-section #hero-section-container #hero-section-image #hero-images #hero-image {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
  }
  #hero-section #hero-section-container #hero-section-image #hero-images .image-container-cardOne {
    position: absolute;
    top: 0;
    left: 0;
    width: 19rem;
    height: 216rem;
  }
  #hero-section #hero-section-container #hero-section-image #hero-images .image-container-cardOne #credit-card-image {
    position: relative;
    object-fit: contain;
    height: auto;
    z-index: 2;
    top: -4.7rem;
    left: -9.4rem;
    width: 198%;
  }
  #hero-section #hero-section-container #hero-section-image #hero-images .image-container-cardTwo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 19rem;
    height: 19.3rem;
  }
  #hero-section #hero-section-container #hero-section-image #hero-images .image-container-cardTwo #thumbs-up-image {
    position: relative;
    object-fit: contain;
    height: auto;
    z-index: 2;
    bottom: 4.4rem;
    right: 8.3rem;
    width: 182%;
  }
}
@media only screen and (max-width: 720px) {
  #hero-section {
    max-width: 100vw;
    margin: auto;
  }
  #hero-section #hero-section-container {
    padding-top: 5rem;
  }
  #hero-section #hero-section-container #hero-article #hero-article-title {
    color: #292e47;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
  }
  #hero-section #hero-section-container #hero-article #hero-article-paragraph {
    max-width: 90%;
    text-align: center;
    margin: auto;
    font-size: 2rem;
    color: #6b708d;
    line-height: 150%;
    letter-spacing: 0;
  }
  #hero-section #hero-section-container #hero-article #hero-article-contact-links {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }
  #hero-section #hero-section-container #hero-article #hero-article-contact-links #hero-article-button {
    text-decoration: none;
    font-size: 1.7rem;
    color: #6b708d;
    line-height: 130%;
    letter-spacing: 0;
    box-sizing: border-box;
    transition-duration: 0.2s;
    background-color: #072ac8;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 15rem;
    height: 5.2rem;
    margin-right: 4rem;
  }
  #hero-section #hero-section-container #hero-article #hero-article-contact-links #hero-article-button:hover {
    color: #072ac8;
  }
  #hero-section #hero-section-container #hero-article #hero-article-contact-links #hero-article-button:hover {
    color: #292e47;
    background-color: #a2d6f9;
  }
  #hero-section #hero-section-container #hero-article #hero-article-contact-links #hero-link-works {
    margin: 0;
    align-self: center;
    text-decoration: none;
    font-size: 1.7rem;
    color: #6b708d;
    line-height: 130%;
    letter-spacing: 0;
    font-size: 1.7rem;
    color: #6b708d;
    line-height: 150%;
    letter-spacing: 0;
    line-height: 130%;
  }
  #hero-section #hero-section-container #hero-article #hero-article-contact-links #hero-link-works:hover {
    color: #072ac8;
  }
  #hero-section-image {
    display: none;
  }
}
/*
=========== CLIENTS SECTION ===========
*/
@media only screen and (min-width: 720px) {
  #client-section {
    margin: auto;
    margin-top: 13rem;
    height: 9.6rem;
    width: 110rem;
  }
  #client-section .client-ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  #client-section .client-ul .client-li {
    display: flex;
    justify-content: center;
    width: 15rem;
  }
  #client-section .client-ul .client-li .client-link {
    margin-left: 0;
  }
  #client-section .client-ul .logo {
    filter: grayscale(100%);
  }
  #client-section .client-ul .logo:hover {
    transition-duration: 0.2s;
    filter: grayscale(0%);
  }
}
@media only screen and (max-width: 720px) {
  #client-section {
    max-width: 100vw;
    margin: auto;
    margin-top: 6rem;
    height: 9.6rem;
    width: 110rem;
  }
  #client-section .client-ul {
    border: 0.5rem solid #6b708d;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
  }
  #client-section .client-ul .client-li {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #client-section .client-ul .logo {
    filter: grayscale(100%);
  }
  #client-section .client-ul .logo:hover {
    transition-duration: 0.2s;
    filter: grayscale(0%);
  }
}
/*
========== TESTIMONIALS SECTION ==========
*/
@media only screen and (min-width: 720px) {
  #testimonials-section {
    box-sizing: border-box;
    position: relative;
    margin: auto;
    width: 132rem;
    height: 62.2rem;
    background-color: #292e47;
    margin-top: 20rem;
    padding-top: 6.9rem;
    padding-left: 4.7rem;
  }
  #testimonials-section #memojis-container {
    box-sizing: border-box;
    position: absolute;
    left: 5.1rem;
    top: 6.3rem;
    width: 118.5rem;
    height: 49.8rem;
  }
  #testimonials-section #memojis-container .memoji {
    z-index: 1;
    width: 15rem;
    height: 15rem;
  }
  #testimonials-section #memojis-container .memoji-top-left {
    position: absolute;
    top: 0;
    left: 1.3rem;
  }
  #testimonials-section #memojis-container .memoji-top-right {
    position: absolute;
    top: 0;
    right: 2.1rem;
  }
  #testimonials-section #memojis-container .memoji-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  #testimonials-section #memojis-container .memoji-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  #testimonials-section .testimonials-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #testimonials-section #testimonials-text-content {
    box-sizing: border-box;
    width: 62.1rem;
    height: 38.2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #testimonials-section #testimonials-text-content #testimonials-title {
    color: #292e47;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: white;
    margin: 0;
  }
  #testimonials-section #testimonials-text-content #testimonials-client-review {
    font-size: 2.4rem;
    color: #ffc600;
    line-height: auto;
    letter-spacing: 0;
    line-height: 160%;
    text-align: center;
    margin: 10rem 0 0 0;
  }
  #testimonials-section #testimonials-text-content #testimonials-client-information {
    margin: 10rem 0 0 0;
    display: flex;
    margin-bottom: 0;
    justify-content: space-between;
    width: 17.1rem;
    height: 5rem;
  }
  #testimonials-section #testimonials-text-content #testimonials-client-information #testimonial-profile-image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 0;
  }
  #testimonials-section #testimonials-text-content #testimonials-client-information #testimonial-name-and-company {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 11.1rem;
    height: 3.7rem;
    margin: 0;
    align-self: center;
  }
  #testimonials-section #testimonials-text-content #testimonials-client-information #testimonial-name-and-company #testimonial-name {
    font-size: 1.7rem;
    color: #a2d6f9;
    line-height: 150%;
    letter-spacing: 0;
    line-height: 100%;
    margin: 0;
  }
  #testimonials-section #testimonials-text-content #testimonials-client-information #testimonial-name-and-company #testimonial-company {
    font-size: 1.3rem;
    color: #f4f6fc;
    line-height: 150%;
    letter-spacing: 0;
    text-decoration: none;
    margin: 0;
  }
}
@media only screen and (max-width: 720px) {
  #testimonials-section {
    border: 1rem;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    max-width: 100vw;
    height: 40rem;
    background-color: #292e47;
    margin-top: 10rem;
  }
  #testimonials-section #memojis-container {
    display: none;
  }
  #testimonials-section .testimonials-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #testimonials-section #testimonials-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  #testimonials-section #testimonials-text-content #testimonials-title {
    color: #292e47;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: white;
    margin-top: 0;
  }
  #testimonials-section #testimonials-text-content #testimonials-client-review {
    font-size: 1.3rem;
    color: #ffc600;
    line-height: 150%;
    letter-spacing: 0;
    text-align: center;
    align-self: center;
  }
  #testimonials-section #testimonials-text-content #testimonials-client-information {
    margin: 5rem 0 0 0;
    display: flex;
    margin-bottom: 0;
    justify-content: space-between;
    width: 17.1rem;
    height: 5rem;
  }
  #testimonials-section #testimonials-text-content #testimonials-client-information #testimonial-profile-image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 0;
  }
  #testimonials-section #testimonials-text-content #testimonials-client-information #testimonial-name-and-company {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 11.1rem;
    height: 3.7rem;
    margin: 0;
    align-self: center;
  }
  #testimonials-section #testimonials-text-content #testimonials-client-information #testimonial-name-and-company #testimonial-name {
    font-size: 1.7rem;
    color: #a2d6f9;
    line-height: 150%;
    letter-spacing: 0;
    line-height: 100%;
    margin: 0;
  }
  #testimonials-section #testimonials-text-content #testimonials-client-information #testimonial-name-and-company #testimonial-company {
    font-size: 1.3rem;
    color: #f4f6fc;
    line-height: 150%;
    letter-spacing: 0;
    text-decoration: none;
    margin: 0;
  }
}

/*# sourceMappingURL=index.css.map */
