* {
  font-size: 10px;
  margin: auto;
}

body {
  background-color: #f4f6fc;
  max-width: 1440px;
  font-family: "Roboto", sans-serif;
}

/*
=========== HERO SECTION ===========
*/
#hero-section {
  margin-top: 122px;
  margin-right: 0;
  width: 140rem;
  height: 65rem;
}
#hero-section #hero-section-container {
  width: 110rem;
  height: 100%;
  margin-left: 17rem;
  display: flex;
}
#hero-section #hero-section-container #hero-article {
  width: 53rem;
  height: 42.2rem;
  margin: 10.9rem 0 11.9rem 0;
}
#hero-section #hero-section-container #hero-article #hero-article-title {
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 3rem;
}
#hero-section #hero-section-container #hero-article #hero-article-paragraph {
  margin: 0;
  width: 43.5rem;
  font-size: 20px;
  color: #6b708d;
  line-height: 150%;
  letter-spacing: 0;
}
#hero-section #hero-section-container #hero-article #hero-article-contact-links {
  display: flex;
  justify-content: flex-start;
  margin-top: 4rem;
}
#hero-section #hero-section-container #hero-article #hero-article-contact-links #hero-article-button {
  text-decoration: none;
  font-size: 1.7rem;
  color: #6b708d;
  line-height: 130%;
  letter-spacing: 0;
  background-color: #072ac8;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 5.2rem;
  margin-right: 4rem;
  margin-left: 0;
}
#hero-section #hero-section-container #hero-article #hero-article-contact-links #hero-link-works {
  margin: 0;
  align-self: center;
  text-decoration: none;
  font-size: 1.7rem;
  color: #6b708d;
  line-height: 130%;
  letter-spacing: 0;
  font-size: 17px;
  color: #6b708d;
  line-height: 150%;
  letter-spacing: 0;
  line-height: 130%;
}
#hero-section #hero-section-container #hero-section-image {
  width: 57rem;
  height: 65rem;
  margin: 0;
}
#hero-section #hero-section-container #hero-section-image #hero-images {
  height: 100%;
  position: relative;
}
#hero-section #hero-section-container #hero-section-image #hero-images #hero-image {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
}
#hero-section #hero-section-container #hero-section-image #hero-images .image-container-cardOne {
  position: absolute;
  top: 0;
  left: 0;
  width: 19rem;
  height: 216rem;
}
#hero-section #hero-section-container #hero-section-image #hero-images .image-container-cardOne #credit-card-image {
  position: relative;
  object-fit: contain;
  height: auto;
  z-index: 2;
  top: -47px;
  left: -94px;
  width: 198%;
}
#hero-section #hero-section-container #hero-section-image #hero-images .image-container-cardTwo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 19rem;
  height: 19.3rem;
}
#hero-section #hero-section-container #hero-section-image #hero-images .image-container-cardTwo #thumbs-up-image {
  position: relative;
  object-fit: contain;
  height: auto;
  z-index: 2;
  bottom: 44px;
  right: 83px;
  width: 182%;
}

/*
=========== CLIENTS SECTION ===========
*/
#client-section {
  margin-top: 13rem;
  height: 9.6rem;
  max-width: 110rem;
}
#client-section .client-ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

/*# sourceMappingURL=main.css.map */
