//COLOR STYLES
$yellow: #ffc600;
$intenseBlue: #072ac8;
$blue: #43d2ff;
$grayBlue: #a2d6f9;
$lightBlue: #d1edff;
$darkGray: #292e47;
$gray: #6b708d;
$background: #f2f4fc;
$lightBlueGray: #ecf7ff;

@mixin button {
  background-color: $intenseBlue;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

//TO-DO: the link should be grey, and only blue when clicked?
//But the thing is that only applies to the header, not elsewhere!
@mixin link {
  color: $intenseBlue;
  text-decoration: none;
}
