@use "base";

//common css (desktop + tablet + mobile)
@media only screen and (min-width: base.$tablet) {
  .contact-us {
    @include base.heading(base.$hOne);
    margin-top: 26.8rem;
    margin-bottom: 8rem;
    width: 110rem;
  }

  .form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 110rem;
    margin-bottom: 15.4;

    .form-row {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .form-column {
      display: flex;
      justify-content: space-between;
      @media only screen and (max-width: base.$laptop) {
      }
      .form-field-column {
        margin: 0;
        width: 53rem;
      }
    }

    .form-label {
      margin-left: 0;
      @include base.font-regular(base.$medium, base.$body-regular);
      margin-bottom: 1rem;
    }

    .form-input {
      padding: 2rem;
      &:focus {
        background-color: base.$tapped;
      }
      // &:invalid {
      //   border: 2px dashed red;
      // }
      @include base.font-regular;
      box-sizing: border-box;
      width: 100%;
      min-height: 7rem;
      padding: 1rem;
      margin-bottom: 4rem;
    }

    .valid {
      @include base.font-regular;
      color: red;
    }

    #message {
      height: 20rem;
    }

    .form-input::placeholder {
      @include base.font-regular;
    }

    .contact-form-submit {
      @include base.button;
      @include base.font-header-link;
      color: white;
      height: 8rem;
      width: 100%;
      margin-bottom: 15.4rem;
    }
  }
}

//tablet ******************************************************
@media only screen and (max-width: base.$laptop) and (min-width: base.$tablet) {
  .contact-us {
    @include base.heading(base.$hThree);
    text-align: center;
    background-color: base.$tapped;
    margin: 13rem 0 3rem 0;
  }
  .form {
    margin: auto;
    width: 90rem;
  }
  .form-field-column {
      margin: 1rem;
  }
}

//mobile **************************************************
@media only screen and (max-width: base.$tablet) {
  .contact-us {
    @include base.heading(base.$hThree);
    background-color: base.$tapped;
    text-align: center;
    margin: 10rem 0 1rem 0;
  }

  .form {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    width: 100vw;

    .form-label {
      display: flex;
      flex-direction: column;
    }

    .form-row,
    .form-field-column {
      margin: auto;
      width: 90%;
    }

    .form-column {
      display: flex;
      flex-direction: column;
    }

    .form-label {
      margin: 0 0 0 1rem;
      @include base.font-regular(base.$medium, base.$body-regular);
    }

    .form-input {
      padding: 2rem;
      &:focus {
        background-color: base.$tapped;
      }
      // &:invalid {
      //   border: 2px dashed red;
      // }
      @include base.font-regular;
      margin: 0 auto 4rem auto;
      box-sizing: border-box;
      width: 100%;
      min-height: 7rem;
    }

    .valid {
      @include base.font-regular;
      color: red;
    }

    #message {
      height: 20rem;
    }

    .form-input::placeholder {
      @include base.font-regular;
    }

    .contact-form-submit {
      @include base.button;
      @include base.font-header-link;
      font-size: base.$body-regular;
      color: white;
      height: 8rem;
      width: 90%;
      margin: auto;
      margin-bottom: 1rem;
    }
  }
}
