@use "base";

.footer {
  @include base.flex-center;
  height: 242px;

  .footer-container {
    margin-top: 30px;
    height: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 76%;

    .footer-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      height: 100%;

      .address {
        @include base.font-regular;
      }
    }

    #footer-logo {
      height: 30px;
    }

    .footer-ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      width: 435px;
      height: 100%;

      .footer-li {
        .footer-a {
          @include base.font-header-link;
        }
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}
