@use "base";

.footer {
  height: 24.2rem;

  .footer-container {
    width: 110rem;
    margin-top: 3rem;
    height: 11.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-content {
      display: flex;
      margin: 0;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
      height: 100%;

      .address {
        @include base.font-regular;
      }
    }

    #footer-logo {
      height: 3rem;
      margin-left: 0;
    }

    .footer-ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      width: 43.5rem;
      height: 100%;
      margin: 0;

      .footer-li {
        .footer-a {
          height: fit-content;
          margin: 0;
          @include base.font-header-link;
        }
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
      }
    }
  }
}
