@use "base";

.footer {
  @include base.flex-center;
  height: 242px;
  border: 16px solid black;

  .footer-container {
    margin-top: 30px;
    height: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 76%;
    border: 7px solid orange;

    .footer-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      border: 3px solid red;
      height: 100%;
    }

    #footer-logo {
      height: 30px;
    }

    .footer-links {
      display: flex;
      justify-content: space-between;
      list-style: none;
      width: 435px;
      height: 100%;

      li {
        a {
          @include base.link;
        }
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 2px solid yellowgreen;
      }
    }
  }
}
