@use "base";

/*
=========== HERO SECTION ===========
*/

#hero-section {
  margin: 22.2rem 0 0 0;
  width: 140rem;
  height: 65rem;

  //The text-content
  #hero-section-container {
    margin: auto;
    width: 110rem;
    height: 100%;
    display: flex;

    #hero-article {
      width: 53rem;
      height: 42.2rem;
      margin: 10.9rem 0 11.9rem 0;

      #hero-article-title {
        @include base.heading(base.$hOne);
        margin-bottom: 3rem;
      }

      #hero-article-paragraph {
        margin: 0;
        width: 43.5rem;
        @include base.font-regular(base.$medium, base.$body-regular);
      }

      #hero-article-contact-links {
        display: flex;
        justify-content: flex-start;
        margin-top: 4rem;

        #hero-article-button {
          @include base.font-header-link;
          @include base.button;
          width: 15rem;
          height: 5.2rem;
          margin-right: 4rem;
          margin-left: 0;
        }

        #hero-link-works {
          margin: 0;
          align-self: center;
          @include base.font-header-link;
          @include base.font-regular;
          line-height: 130%;
        }
      }
    }

    //the hero-images
    #hero-section-image {
      width: 57rem;
      height: 65rem;
      margin: 0;

      #hero-images {
        height: 100%;
        position: relative;

        #hero-image {
          position: absolute;
          z-index: 1;
          width: 100%;
          height: auto;
        }

        .image-container-cardOne {
          position: absolute;
          top: 0;
          left: 0;
          width: 19rem;
          height: 216rem;

          #credit-card-image {
            @include base.img-container;
            top: -4.7rem;
            left: -9.4rem;
            width: 198%;
          }
        }

        .image-container-cardTwo {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 19rem;
          height: 19.3rem;

          #thumbs-up-image {
            @include base.img-container;
            bottom: 4.4rem;
            right: 8.3rem;
            width: 182%;
          }
        }
      }
    }
  }
}

/*
=========== CLIENTS SECTION ===========
*/

#client-section {
  margin: auto;
  margin-top: 13rem;
  height: 9.6rem;
  width: 110rem;

  .client-ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;

    .client-li {
      display: flex;
      justify-content: center;
      width: 15rem;

      .client-link {
        margin-left: 0;
      }
    }

    .logo {
      filter: grayscale(100%);
      &:hover {
        transition-duration: 0.2s;
        filter: grayscale(0%);
      }
    }
  }
}

/*
========== TESTIMONIALS SECTION ==========
*/

#testimonials-section {
  position: relative;
  margin: auto;
  width: 132rem;
  height: 62.2rem;
  background-color: base.$dark;
  margin-top: 20rem;
  padding-top: 6.9rem;
  padding-left: 4.7rem;
  
  #memojis-container {
    box-sizing: border-box;
    z-index: 1;
    position: absolute;
    left: 5.1rem;
    top: 6.3rem;
    width: 118.5rem;
    height: 49.8rem;

    .memoji {
      z-index: 1;
      width: 15rem;
      height: 15rem;
    }

    .memoji-top-left {
      position: absolute;
      top: 0;
      left: 1.3rem;
    }

    .memoji-top-right {
      position: absolute;
      top: 0;
      right: 2.1rem;
    }

    .memoji-bottom-left {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .memoji-bottom-right {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .testimonials-content {
    width: 110rem;
    height: 38.2rem;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #testimonials-text-content {
    box-sizing: border-box;
    width: 62.1rem;
    height: 38.2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    #testimonials-title {
      @include base.heading(base.$hThree);
      color: white;
      margin: 0;
    }

    #testimonials-client-review {
      @include base.font-medium(base.$orange);
      line-height: 160%;
      text-align: center;
      margin: 10rem 0 0 0;
    }

    #testimonials-client-information {
      margin: 10rem 0 0 0;
      display: flex;
      margin-bottom: 0;
      justify-content: space-between;
      width: 17.1rem;
      height: 5rem;

      #testimonial-profile-image {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        margin: 0;
      }

      #testimonial-name-and-company {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 11.1rem;
        height: 3.7rem;
        margin: 0;
        align-self: center;

        #testimonial-name {
          @include base.font-regular(base.$hover);
          line-height: 100%;
          margin: 0;
        }

        #testimonial-company {
          @include base.font-regular(base.$light, base.$text-regular);
          text-decoration: none;
          margin: 0;
        }
      }
    }
  }
}
