@use 'base';

* {
    box-sizing: border-box;
    font-size: 10px;
}

body {
    //font-family:;
    height: 100vh;
    margin: auto;
    background-color: base.$background;
    max-width: 1440px;
    border: 4px solid purple;
}
