@use "base";

#nav-container {
  @include base.flex-center;
  height: 12.2rem;
  z-index: 3;
  position:fixed;
  top: 0;
  background-color: base.$light;
  
  #navbar {
    height: 5.2rem;
    width: 144rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-ul {
      display: flex;
      list-style: none;
      justify-content: space-between;
      min-width: 35%;
      .navbar-li {
        .navbar-a {
          @include base.font-header-link;
        }
      }
    }
    
    .contact {
      @include base.font-header-link;
      @include base.button;
      width: 150px;
    }
  }
}