@use "base";

#nav-header {
  position:fixed;
  top: 0;
  @include base.flex-center;
  align-items: end;
  width: 144rem;
  height: 122px;
  background-color: base.$light;

  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 76%;
    height: 52px;

    .navbar-ul {
      display: flex;
      list-style: none;
      justify-content: space-between;
      min-width: 35%;
      .navbar-li {
        .navbar-a {
          @include base.anchor;
        }
      }
    }
    
    #contact {
      @include base.font-header-link;
      @include base.button;
      width: 150px;
    }
  }
}
