@use "base";

.project-section {
    margin-top: 22.2rem;
    margin-right: 0;
    width: 140rem;
    height: 65rem;
    border: 2px solid black;

    .project-title {
        @include base.heading(base.$hOne);
    }
}